.fixed-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 175px; /* Largura padrão para mobile */
  background-color: #343a40;
  padding: 10px;
  z-index: 1000;
}

/* Dispositivos maiores que 768px (tablets e acima) */
@media (min-width: 900px) {
  .fixed-right {
      width: 250px; /* Aumenta a largura da barra para dispositivos maiores */
  }

  .main-content {
      margin-right: 250px; /* Ajusta o espaço do conteúdo principal */
  }
}

/* Dispositivos maiores que 1024px (desktops) */
@media (min-width: 1024px) {
  .fixed-right {
      width: 300px; /* Aumenta ainda mais para telas maiores */
  }

  .main-content {
      margin-right: 300px;
  }
}
