/* Contêiner do gráfico */
.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Ocupa 100% da largura disponível */
    padding-right: 100px; /* Ajuste do padding se necessário */
    margin: 70px;  /* Remover margens externas */
}

/* Estilizando o canvas para responsividade */
canvas {
    width: 100% !important;  /* O canvas ocupa toda a largura disponível */
    height: auto !important; /* A altura se ajusta proporcionalmente */
    max-width: 1000px; /* Limita o tamanho máximo */
    margin: 0 auto; /* Centraliza o gráfico horizontalmente */
}
