<div class="create-container">
  <div class="create-wrapper">
    <h2>Criar vaga.</h2>
    <form (ngSubmit)="onSubmit()" #vacancyForm="ngForm">
      
      <div class="form-group">
        <label for="position">Posição da vaga:</label>
        <input
          id="position"
          name="position"
          type="number"
          [(ngModel)]="position"
          required
          #positionInput="ngModel"
        />
        <div *ngIf="positionInput.invalid && (positionInput.dirty || positionInput.touched)" class="error-message">
          <div *ngIf="positionInput.errors?.['required']">É necessario digital a posição!</div>
        </div>
      </div>
  
      <button type="submit" [disabled]="vacancyForm.invalid">Criar vaga</button>
    </form>
  </div>
</div>
