/* Estilos básicos para o rodapé */
.footer {
  color: white;
    padding: 10px 0; /* Espaçamento interno */
    position: fixed; /* Fixa o rodapé na parte inferior da página */
    bottom: 0;
    width: 100%; /* Ocupa toda a largura da página */
    text-align: center; /* Alinha o texto ao centro */
    border-top: 1px solid #dee2e6; /* Adiciona uma borda superior leve */
  }
  
  .container {
    max-width: 960px; /* Define a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
  }
  