<div class="delete-container">
  <h2>Deletar vaga.</h2>
  <div class="delete-wrapper">
    <form (ngSubmit)="deleteVacancy()">
      <div class="form-group">
        <label for="position">Posição:</label>
        <input
          id="position"
          type="number"
          [(ngModel)]="position"
          name="position"
          placeholder="Enter position"
          required
        />
      </div>
      <button type="submit" class="btn-delete">Deletar vaga</button>
    </form>
    <div *ngIf="message" class="alert alert-success mt-3">
      {{ message }}
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3">
      {{ error }}
    </div>
  </div>
</div>
